streamlit==1.24.0      
pandas==1.5.3          
numpy==1.24.2          
scikit-learn==1.2.1    
matplotlib==3.7.1      
ipykernel 
smote==0.1
seaborn==0.13.2
imbalanced-learn==0.14.0

xgboost==3.0.4
lightgbm==4.6.0
catboost==1.2.8